/*
| -------------------------------------------------------------------
| Typography
| -------------------------------------------------------------------
*/
/*
###################################
#### CONFIG
###################################
*/
$import-url: "https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700;900&display=swap";
@import url($import-url);

$primary-font-family: "Source Sans Pro", sans-serif;

* {
  font-family: $primary-font-family;
  //MEVAN AADHIRA CAINE
}

.heavy {
  font-weight: 800;
}

.bold {
  font-weight: 700;
}

.semibold {
  font-weight: 600;
}

.regular {
  font-weight: 400;
}

p {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
}
