.page-container {
}

.primary {
  .container {
    flex: 1;
    padding: 30px;
    display: flex;
    align-items: center;
  }
  .left-panel {
    flex: 8;
    padding-right: 30px;
    opacity: 0;
  }
  .right-panel {
    flex: 4;
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    background: rgba(121, 45, 213, 1);
    background: -moz-linear-gradient(
      -45deg,
      rgba(121, 45, 213, 1) 0%,
      rgba(175, 64, 219, 1) 100%
    );
    background: -webkit-gradient(
      left top,
      right bottom,
      color-stop(0%, rgba(121, 45, 213, 1)),
      color-stop(100%, rgba(175, 64, 219, 1))
    );
    background: -webkit-linear-gradient(
      -45deg,
      rgba(121, 45, 213, 1) 0%,
      rgba(175, 64, 219, 1) 100%
    );
    background: -o-linear-gradient(
      -45deg,
      rgba(121, 45, 213, 1) 0%,
      rgba(175, 64, 219, 1) 100%
    );
    background: -ms-linear-gradient(
      -45deg,
      rgba(121, 45, 213, 1) 0%,
      rgba(175, 64, 219, 1) 100%
    );
    background: linear-gradient(
      135deg,
      rgba(121, 45, 213, 1) 0%,
      rgba(175, 64, 219, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#792dd5', endColorstr='#af40db', GradientType=1 );
    .panel-title {
      margin: 0;
      margin-bottom: 20px;
      font-size: 30 px;
      color: #fff;
    }
    form {
      .form-group {
        margin-bottom: 15px;
        &:last-child {
          margin-bottom: 0;
        }
        .form-label {
          color: #fff;
          margin-bottom: 10px;
          font-size: 16px;
          font-weight: 600;
        }
        .form-item {
          border: 0;
          border-radius: 5px;
          height: 50px;
          width: 100%;
          padding: 15px;
          display: block;
          box-sizing: border-box;
        }
        .form-message {
          color: #fff;
          display: none;
        }
        .disclaimer-text {
          margin-top: 20px;
          font-size: 12px;
          margin-bottom: 10px;
          line-height: 1.3;
        }
        &.group-submit {
          margin-top: 10px;
          .form-item {
            cursor: pointer;
            background-color: #310744;
            color: #fff;
            font-weight: 700;
          }
        }
      }
    }
    .post-form-content {
      padding-top: 10px;
      p {
        font-size: 16px;
      }
    }
  }
}
